{% extends 'base.html' %}

{% block Header %}
    {% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
<section class="main-section">
    <div class="container">
        <div class="main-inner">
            <div class="title">
                Текст договора и оферта
            </div>
            <div class="push20"></div>
            <div class="push15 hidden-xss"></div>
            <div class="content">
                <p>Термины<br>

                В настоящем Договоре-оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:</p>

                <ul>
                    <li>«Оферта» — настоящий Договор-оферта, включая все его приложения;</li>
                    <li>«Продавец» — Общество с ограниченной ответственностью "Технологии Безопасности", компания, осуществляющая продажу товаров дистанционно через сайт Интернет-магазина;</li>
                    <li>«Покупатель» — физическое лицо, заключившее с Продавцом настоящий Договор-оферту на условиях, содержащихся в Договоре-оферте;</li>
                    <li>«Акцепт» - полное и безоговорочное принятие Покупателем условий настоящего Договора-оферты;</li>
                    <li>«Товар» — товар, продукция, информация о наименовании, ассортименте и цене которых размещается на сайте Интернет-магазина https://домофон-тб.рф;</li>
                    <li>«Интернет-заказ» — отдельные позиции из ассортиментного перечня Товара, указанные Покупателем при оформлении заявки на Интернет-магазина https://домофон-тб.рф ;</li>
                    <li>Интернет-магазин «Технологии Безопасности» — открытый для свободного визуального ознакомления, публично доступный, принадлежащий Продавцу ресурс, размещенный в сети Интернет по адресу https://домофон-тб.рф содержит информацию об ассортименте товара, цене, условиях доставки товара Покупателю.</li>
                    <li>«Пункт самовывоза» — возможность Покупателя самостоятельно получить интернет-заказ в пункте самовывоза.</li>
                    <li>«Служба доставки» — грузоотправитель, обеспечивающий доставку товара Покупателю по поручению Продавца.</li>
                    <li>«История заказов» — закрытая зона Интернет-магазина Продавца, доступная только Покупателям, прошедшим процедуру регистрации, и содержащая информацию по всем Заказам Покупателя.</li>
                    <li>«Личный Кабинет» — интерфейс для хранения и редактирования пользовательских данных Покупателя, закрытая зона сайта Интернет-магазина https://домофон-тб.рф доступная только Покупателям, прошедшим процедуру регистрации, позволяющая управлять логическими блоками.</li>
                    <li>«Персональные данные» — механизм для хранения и редактирования личных данных, пароля, адресов доставки Заказа, контактной информации и регистрационных данных Покупателя.</li>
                </ul>

                <p>Общие положения</p>

                <ol>
                    <li>В соответствии со ст.ст. 437, 494 Гражданского кодекса Российской Федерации данный документ, адресованный физическим лицам, является безотзывным предложением Общество с ограниченной ответственностью "Технологии Безопасности", заключить договор публичной оферты на указанных ниже условиях (далее — Договор-оферта).</li>
                    <li>Полным и безоговорочным акцептом настоящего Договора-оферты является принятие Покупателем условий настоящего Договора-оферты при регистрации в «Личном кабинете» на сайте Продавца https://домофон-тб.рф.</li>
                    <li>Акцепт Договора-оферты означает, что Покупатель согласен со всеми положениями настоящего Договора-оферты, и равносилен заключению договора, что Покупатель производит оплату и принимает Товар в соответствии с настоящим Договором-офертой.</li>
                    <li>Оформление Заказа
                        <ol>
                            <li>Заказ Товара осуществляется Покупателем через сайт Интернет-магазина https://домофон-тб.рф в следующем порядке: выбрать товар в каталоге, добавить его в корзину и оформить заказ.</li>
                            <li>
                                При регистрации в «Личном кабинете» на сайте Интернет-магазина https://домофон-тб.рф Покупатель должен указать следующую регистрационную информацию о себе:
                                <ol>
                                    <li>Фамилия, имя (русскими буквами);</li>
                                    <li>Адрес электронной почты;</li>
                                    <li>Логин (латинские буквы);</li>
                                </ol>
                            </li>
                            <li>Пароль к Личному кабинету (только латинские буквы и цифры);Покупатель имеет право редактировать регистрационную информацию о себе в «Личном кабинете». Продавец не изменяет, и не редактирует регистрационную информацию о Покупателе. Продавец обязуется не сообщать данные Покупателя, указанные при регистрации на сайте Интернет-магазина https://домофон-тб.рф и при оформлении Заказа, лицам, не имеющим отношения к исполнению Заказа. После завершения процесса регистрации на сайте Интернет-магазин https://домофон-тб.рф Покупателю присваиваются уникальные имя пользователя и пароль. После оформления Заказа данные о заказе и Покупателе регистрируются в базе данных Продавца.</li>
                            <li>Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.</li>
                            <li>Покупатель несёт ответственность за достоверность предоставленной информации при оформлении Заказа.</li>
                            <li>Информация, представленная на сайте Интернет-магазин https://домофон-тб.рф, может быть неполной. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа ему необходимо обратиться за консультацией в по телефону 8 495 475-54-11; (ежедневно с 10:00 до 18:00, суббота и воскресенье выходной), или написать письмо на электронный адрес –tehbez2016@mail.ru.</li>
                        </ol>
                    </li>
                </ol>

                <p>Сроки исполнения Заказа</p>
                
                <ol>
                    <li>Срок, в который Продавец обязуется исполнить Заказ, составляет от одного рабочего дня. Срок исполнения Заказа зависит от наличия заказанных позиций Товара на складе Продавца и времени, необходимого на обработку Заказа. Срок исполнения Заказа в исключительных случаях может быть оговорен с Покупателем индивидуально в зависимости от характеристик и количества заказанного Товара. В случае отсутствия части Заказа на складе Продавца, в том числе по причинам, не зависящим от последнего, Продавец вправе аннулировать указанный Товар из Заказа Покупателя.</li>
                    <li>Заказ считается доставленным в момент его передачи Покупателю. Принимая и оплачивая Товар, Покупатель подтверждает исполнение Заказа.</li>
                    <li>
                        Доставка товара производится по адресу, указанному Покупателем, через Службу доставки или через сервис Самовывоз интернет—заказа Покупателем.
                        <ol>
                            <li>Общие условия доставки Заказа Покупателю Службой доставки.</li>
                                <ol>
                                    <li>Дос тавка в будни. Доставка осуществляется в рабочие дни с 10:00 до 18:00. При размещении заказа до 15:00 доставка выполняется на следующий рабочий день, при размещении заказа после 15:00 доставка выполняется через один рабочий день.</li>
                                    <li>Дос тавка заказов, оформленных в выходные дни и праздничные дни, осуществляется через один рабочий день.</li>
                                    <li>Дос тавка в субботу. Чтобы получить заказ в субботу, оформите его в любой рабочий день (до 15:00 пятницы) и укажите субботу в качестве дня доставки. Примечание. Срок поставки может быть изменен в соответствии с п.3.1. настоящего Договора-оферты.</li>
                                </ol>
                            <li>Сервис самовывоз интернет-заказа Покупателем из Пункта самовывоза. Сервис самовывоз интернет-заказа доступен жителям Москвы и Московской области, которые хотят самостоятельно получить интернет-заказ. Данный сервис позволяет вам получить заказ в удобное время 7 дней в неделю с 10:00 до 18:00 ежедневно. Интернет-заказ хранится в Пункте самовывоза 7 дней.</li>
                            <li>В случае предоставления Покупателем недостоверной информации о его контактных данных Продавец не несет ответственности за ненадлежащее исполнение Заказа.</li>
                            <li>В случае ненадлежащего исполнения доставки Заказа по вине Продавца повторная доставка Заказа осуществляется бесплатно.</li>
                            <li>Продавец не может гарантировать доступность Товара на складе, в связи с чем сроки исполнения Заказа могут быть увеличены.</li>
                            <li>Доставка осуществляется при условии, что Покупатель сделает Заказ на сумму большую суммы минимального заказа. Сумма минимального заказа определяется Продавцом в одностороннем порядке и указывается на Сайте Продавца.</li>
                        </ol>
                    </li>
                </ol>
                
                <p>Оплата Заказа</p>

                <ol>
                    <li>
                        Оплата исполненного Заказа осуществляется путем передачи Покупателем наличных денежных средств сотруднику Службы доставки или через платежную систему по банковской карте или электронными деньгами (п.4.1.1). Более подробная информация о способах оплаты Заказа размещена по адресу: https://домофон-тб.рф/payment/
                        <ol>
                            <li>Покупатели могут оплатить заказ банковскими картами и электронными деньгами. Доступны следующие виды платежей:
                                <ol>
                                    <li>оплата банковской картой Visa (Visa Classic, Visa Gold, Visa Platinum);</li>
                                    <li>оплата банковской картой MasterCard(MasterСard Mass, MasterСard Gold, MasterСard Platinum);</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Цена на каждую позицию Товара отображена на сайте Интернет-магазин https://домофон-тб.рф</li>
                    <li>Цены на любые позиции Товара, указанные на сайте Интернет-магазин https://домофон-тб.рф могут быть изменены Продавцом в одностороннем порядке без уведомления Покупателя. В случае изменения цены на заказанные позиции Товара Продавец обязуется в кратчайшие сроки проинформировать Покупателя о таком изменении. Покупатель вправе подтвердить либо аннулировать Заказ. В случае отсутствия связи с Покупателем Заказ считается аннулированным в течение 5 календарных дней с момента оформления.</li>
                </ol>
                
                <p>Возврат Заказа</p>

                <ol>
                    <li>В соответствии с п. 4. ст. 26.1. Закона РФ № 2300-1 «О Защите прав потребителей», Покупатель вправе отказаться от заказанного Товара надлежащего качества в любое время до момента исполнения Заказа, а после передачи товара — в течение семи дней. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у Покупателя документа, подтверждающего факт и условия покупки товара, не лишает его возможности ссылаться на другие доказательства приобретения товара у Продавца.</li>
                    <li>
                        В соответствии с п. 2 «Перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации», утвержденного Постановлением Правительства РФ от 19.01.1998 г. № 55, Покупатель не вправе отказаться от Товара надлежащего качества, имеющего индивидуально определённые свойства.
                        <ol>
                            <li>В соответствии с п. 4 Постановления Правительства РФ от 19 января 1998 г. N 55 (в ред. Постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81) не подлежат обмену и возврату товары, отпускаемые на метраж. Обмену не подлежат товары надлежащего качества имеющие индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его покупателем; не подлежит обмену и возврату товар с измененными потребительскими свойствами. Резка светодиодной ленты, гибкого неона, дюралайта, алюминиевого профиля и других материалов означает изменение потребительских свойств товара, резаный товар обмену и возврату не подлежит.</li>
                        </ol>
                    </li>
                    <li>При отказе Покупателя от Товара надлежащего качества Продавец должен возвратить ему денежную сумму, уплаченную Покупателем по договору, за исключением расходов Продавца на доставку Товара к покупателю и доставку от Покупателя возвращенного Товара, не позднее чем через 10 дней с даты предъявления Покупателем соответствующего требования.</li>
                    <li>В соответствии со ст. 22 Закона РФ № 2300-1 «О Защите прав потребителей», уплаченная Покупателем сумма за Товар ненадлежащего качества подлежит возврату Покупателю в течение 10 календарных дней с момента предъявления соответствующего требования.</li>
                    <li>Возврат денежных средств возврат может быть произведен на банковский счет покупателя.</li>
                    <li>Последствия продажи товара ненадлежащего качества дистанционным способом продажи товара установлены положениями, предусмотренными статьями 18 — 24 Закона РФ № 2300-1 «О Защите прав потребителей».</li>
                </ol>
                
                <p>Авторские права</p>

                <ol>
                    <li>Вся текстовая информация и графические изображения, размещенные на сайте Интернет-магазина https://домофон-тб.рф являются собственностью Продавца и/или его поставщиков и производителей Товара.<br /> Права, обязанности и ответственность сторон</li>
                    <li>Продавец не несет ответственности за ненадлежащее использование товаров Покупателем, заказанных на сайте Интернет-магазин https://домофон-тб.рф</li>
                    <li>Продавец вправе передавать свои права и обязанности по исполнению Заказов третьим лицам.</li>
                    <li>Право собственности на Заказ, а также риск его случайной утраты или повреждения переходят к Покупателю с момента получения Товара.</li>
                    <li>Все претензии по ненадлежащему исполнению заказа Покупатель вправе направить на адрес электронной почты tehbez2016@mail.ru или сообщить через оператора по телефону 8 495 475-54-11</li>
                </ol>

                <p>Порядок изменения и расторжения настоящего публичного Договора-оферты</p>

                <ol>
                    <li>Продавец оставляет за собой право в любое время вносить изменения в условия настоящего публичного Договора-оферты, если время вступления изменений в силу специально не оговорено, они начинают свое действие с момента опубликования их на сайте Интернет-магазин https://домофон-тб.рф</li>
                    <li>Использование Покупателем сайта Интернет-магазин https://домофон-тб.рф после внесения изменений в Договор-оферту однозначно понимается Продавцом и Покупателем как согласие с внесенными изменениями.</li>
                    <li>Настоящий Договор-оферта может быть расторгнут в любое время по инициативе Покупателя или Продавца путем направления другой стороне соответствующего уведомления письмом по почте.</li>
                    <li>Продавец вправе расторгнуть настоящий Договор-оферта в любое время без предварительного уведомления в случае нарушений Покупателем порядка оформления заказа, получения и оплаты Товара.</li>
                </ol>

                <p>Срок действия Договора-оферты</p>

                <p>Договор вступает в силу с момента его заключения (акцепта оферты) и действует в течение года. Если ни одна из сторон за 1 месяц до окончания срока действия Договора-оферты не обратится с предложением о его расторжении, настоящий Договор-оферта считается пролонгированным на следующий год. Указанный порядок расторжения и пролонгации Договора-оферты применяется на каждый последующий год.</p>

                <p>Реквизиты и контактная информация  Продавца</p>
                <p>ООО «Технологии безопасности»<br /> Юридический адрес: 141801, МО, г. Дмитров, Промышленный переулок, д. 20, корп.1<br /> Почтовый адрес: 141801, МО, г. Дмитров, Промышленный переулок, д. 20, корп.1<br /> ИНН 5007072780 КПП 500701001<br /> ОГРН 1095007003850<br /> р/с 40702810338250020062<br /> в ПАО СБЕРБАНК г. Москва к/с 30101810400000000225<br /> БИК 044525225<br /> Тел.: +7 (495) 675-54-11<br /> Директор М.Л. Панферова</p>
            </div>
            <div class="push35"></div>
            <a class="button" href="{{ url_for('client_tariffs') }}">Согласен</a>
            <div class="push70 hidden-xss"></div>
            <div class="push70 visible-xss"></div>
        </div>	
    </div>
</section>
{% endblock %}