{% extends 'base_lk.html' %}

{% block Header %}
	{% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
		<section class="main-section">
			<div class="container">
				<div class="main-inner">
					<div class="title">
						Оплата
					</div>
					<div class="push20"></div>
					<div class="push70 hidden-xss"></div>
					<div class="push25 visible-xss"></div>
					<div class="tarifs-wrapper">
						<div class="item">
							<div class="item-title">
								<a class="absolute" href="{{ url_for('tariffs_call_year') }}"></a>
								За год <br>
								<span>{{ year }}₽</span>
							</div>
						</div>
						<div class="item">
							<div class="item-title">
								<a class="absolute" href="{{ url_for('tariffs_call_month') }}"></a>
								Ежемесячно <br>
								<span>{{ month }}₽</span>
							</div>
						</div>
					</div>
					<div class="push70 hidden-xss"></div>
					<div class="push25 visible-xss"></div>
					{% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="label" style="color:gray">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                    {% endwith %}
				</div>	
			</div>
		</section>
{% endblock %}