{% extends 'base_lk.html' %}

{% block Header %}
    {% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
<section class="main-section">
    <div class="container">
        <div class="main-inner">
            <div class="title">
                к оплате: 1 000₽
            </div>
            <div class="push20"></div>
            <div class="push70 hidden-xss"></div>
            <div class="push25 visible-xss"></div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.number(type="text", class="form-control", placeholder="Номер карты") }}
                </div>
                <div class="form-group">
                    <input name="validity" type="text" class="form-control"  placeholder="Срок действия"/>
                </div>
                <div class="form-group">
                    {{ form.cvv(type="password", class="form-control", placeholder="CVV") }}
                </div>
                <div class="form-group">
                    {{ form.name(class="form-control", placeholder="Имя на карте") }}
                </div>
                <div class="push60 hidden-xss"></div>
                <div class="push10 visible-xss"></div>
                {{ form.submit(class="button") }}
            </form>
            <div class="push70 hidden-xss"></div>
            <div class="push25 visible-xss"></div>
        </div>	
    </div>
</section>
{% endblock %}