{% extends 'base_lk.html' %}

{% block Header %}
	{% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
<section class="main-section">
    <div class="container">
        <form class="main-inner" action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="title">
                Изменение индивидуального кода
            </div>
            <div class="push60 hidden-xss"></div>
            <div class="push40 visible-xss"></div>
            <div class="code-wrapper">
                <div class="form-group">
                    {{ form.district.label(class="label", for="district") }}
                    {{ form.district(class="form-control select-styler", id="district") }}
                </div>
                <div class="form-group">
                    {{ form.street.label(class="label", for="street") }}
                    {{ form.street(class="form-control", id="street") }}
                </div>
                <div class="form-group">
                    {{ form.house.label(class="label", for="house") }}
                    {{ form.house(class="form-control", id="house") }}
                </div>
                <div class="form-group">
                    {{ form.front_door.label(class="label", for="front_door") }}
                    {{ form.front_door(class="form-control", id="front_door") }}
                </div>
                <div class="form-group">
                    {{ form.apartment.label(class="label", for="apartment") }}
                    {{ form.apartment(class="form-control", id="apartment") }}
                </div>
                <div class="form-group">
                    {{ form.code.label(class="label", for="code") }}
                    {{ form.code(type="text", class="form-control", id="code") }}
                </div>
            </div>
            <div class="push50 hidden-xss"></div>
            <div class="push30 visible-xss"></div>
            {{ form.submit(class="button") }}
            <div class="push100 hidden-xss"></div>
            <div class="push50 visible-xss"></div> 
        </form>	
    </div>
</section>
{% endblock %}