{% extends 'base_lk.html' %}

{% block Header %}
	{% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
<section class="main-section">
    <div class="container">
        <form class="main-inner" action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="title">
                Изменение индивидуального кода
            </div>
            <div class="push60 hidden-xss"></div>
            <div class="push40 visible-xss"></div>
            <div class="code-wrapper">
                <div class="form-group">
                    {{ form.address.label(class="label", for="address") }}
                    {{ form.address(class="form-control select-styler", list="address_list", id="address") }}
                </div>
                <div class="form-group">
                    {{ form.code.label(class="label", for="code") }}
                    {{ form.code(type="text", class="form-control", id="code") }}
                </div>
            </div>
            <div class="push50 hidden-xss"></div>
            <div class="push30 visible-xss"></div>
            {{ form.submit(class="button") }}
            <div class="push100 hidden-xss"></div>
            <div class="push50 visible-xss"></div> 
        </form>	
    </div>
</section>
{% endblock %}