{% extends 'base_lk.html' %}

{% block Header %}
	{% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
<section class="main-section">
    <div class="container">
        <form class="main-inner">
            <div class="top-inputs">
                <div class="form-group">
                    <!--<label class="label"  for="address">Адрес</label>
                    <select name="address" class="form-control select-styler" id="address">
                            <option value="Адрес 1">Адрес 1</option>
                            <option value="Адрес 2">Адрес 2</option>
                    </select>!-->
                    {{ form.address.label(class="label", for="address") }}
                    {{ form.address(class="form-control select-styler", id="address", list="address_list") }}
                    <datalist id="address_list">
                        <option value="тест"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <!--<label class="label" for="porch">Подъезд</label>
                    <select name="porch" class="form-control select-styler" id="porch">
                            <option value="Подъезд 1">Подъезд 1</option>
                            <option value="Подъезд 2">Подъезд 2</option>
                    </select>!-->
                    {{ form.front_door.label(class="label", for="porch") }}
                    {{ form.front_door(class="form-control select-styler", id="porch", list="porch_list") }}
                    <datalist id="porch_list">
                        <option value="тест"></option>
                    </datalist>
                </div>
            </div>
            <div class="push80 hidden-xss"></div>
            <div class="push40 visible-xss"></div>
            <div class="inner">
                <div class="inner-title">
                    Подъезд №1
                </div>
                <div class="push100 hidden-xss"></div>
                <div class="push40 visible-xss"></div>
                <div class="inner-body">
                    <div class="item">
                        <div class="item-title">
                            {{ form.equipment.label(class="label", for="equipment")}}
                            <!--<label class="label"  for="equipment">Оборудование</label>!-->
                        </div>
                        <div class="item-content">
                            <div class="form-group">
                                {{ form.equipment(class="form-control select-styler", id="equipment") }}
                                <!--<select name="equipment" class="form-control select-styler" id="equipment">
                                        <option value="Оборудование 1">Оборудование 1</option>
                                        <option value="Оборудование 2">Оборудование 2</option>
                                </select>!-->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            Серийный номер блока вызова
                        </div>
                        <div class="item-content">
                            {{ form.serial_code(class="form-control select-styler", id="serial_code") }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            Тарифы на обслуживание
                        </div>
                        <div class="item-content">
                            {{ form.tariff(class="form-control select-styler", id="tariff") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="push60 hidden-xss"></div>
            <div class="push50 visible-xss"></div>
            {{ form.submit(class="button") }}
            <div class="push60 hidden-xss"></div>
            <div class="push50 visible-xss"></div>
        </form>	
    </div>
</section>
{% endblock %}

{% block Scripts %}
<script>
    const kladr_url = 'https://kladr-api.ru/api.php';
    const addressElement = document.getElementById("address");
    addressElement.addEventListener("input", function(event) {
        let cityId = '7700000000000';
        let oneString = '1';
        let limit = '50';
        let contentType = 'building';
        let query = this.value;

        let url = kladr_url + '?query=' + query + '&cityId=' + cityId + '&oneString=' + oneString + '&limit=' + limit;
        console.log(url);

        $.ajax({
            async: true,
            method: 'GET',
            url: url,
            crossDomain: true,
            dataType: 'jsonp',
            headers: {'Access-Control-Allow-Origin': '*'},
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            },
        });

    });
</script>
{% endblock %}