{% extends 'base_lk.html' %}

{% block Header %}
    {% include '/headers/profile.html' %}
{% endblock %}

{% block Body %}
<section class="main-section">
    <div class="container">
        <form class="main-inner" method="POST">
            {{ form.hidden_tag() }}
            <div class="title">
                Платеж
            </div>
            <div class="push60 hidden-xss"></div>
            <div class="push40 visible-xss"></div>
            <div class="code-wrapper">
                <div class="form-group">
                    {{ form.district.label(class="label", for="district") }}
                    {{ form.district(class="form-control select-styler", list="district_list", placeholder="Введите район") }}
                </div>
                <div class="form-group">
                    {{ form.street.label(class="label", for="street") }}
                    {{ form.street(class="form-control", id="street", list="street_list", placeholder="Введите улицу") }}
                    <datalist id="street_list">
                        {% if hints['status'] == 'Ok' %}
                            {% for hint in hints['data'] %}
                                <option value="{{ hint['street'] }}">{{ hint['street'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    {{ form.house.label(class="label", for="house") }}
                    {{ form.house(class="form-control", list="house_list", placeholder="Введите дом") }}
                    <datalist id="house_list">
                        {% if hints['status'] == 'Ok' %}
                            {% set values = [] %}
                            {% for hint in hints['data'] %}
                                {% for house in hint['house'] %}
                                    {% if house not in values %}
                                        {{ values.append(house) }}
                                        <option>{{ house }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    {{ form.front_door.label(class="label", for="front_door") }}
                    {{ form.front_door(class="form-control", list="front_door_list", placeholder="Введите подъезд") }}
                    <datalist id="front_door">
                        {% if hints['status'] == 'Ok' %}
                            {% set values = [] %}
                            {% for hint in hints['data'] %}
                                {% for front_door in hint['front_door'] %}
                                    {% if front_door not in values %}
                                        {{ values.append(front_door) }}
                                        <option>{{ front_door }}</option>
                                    {% endif %}                                
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    {{ form.apartment.label(class="label", for="apartment") }}
                    {{ form.apartment(class="form-control", list="apartment_list", placeholder="Введите квартиру") }}
                    <datalist id="apartment_list">
                        {% if hints['status'] == 'Ok' %}
                            {% set apartments = [] %}
                            {% for hint in hints['data'] %}
                                {% for apartment in hint['apartment'] %}
                                    {% if apartment not in apartments %}
                                        {{ apartments.append(apartment) }}
                                        <option>{{ apartment }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}    
                    </datalist>
                </div>
                <div class="form-group">
                    {{ form.tariff.label(class="label", for="tariff") }}
                    {{ form.tariff(type="number", class="form-control", id="tariff") }}
                </div>
                <div class="form-group">
                    {{ form.amount.label(class="label", for="amount") }}
                    {{ form.amount(type="number", class="form-control", id="amount") }}
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="label" style="color:gray">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="push20 hidden-xss"></div>
            <div class="push20 visible-xss"></div>
            {{ form.submit(class="button") }}
            <div class="push100 hidden-xss"></div>
            <div class="push50 visible-xss"></div> 
        </form>	
    </div>
</section>
{% endblock %}

{% block Scripts %}
<script>
    const addressElement = document.getElementById("address");
    const apartmentElementList = document.getElementById("apartment-list");
    const apartment_url = document.location.protocol + '//' + document.location.host + '/operator/apartment/'; 

    addressElement.addEventListener("input", function (event){
        let data = this.value;

        $.ajax({
            async: true,
            method: 'POST',
            url: apartment_url,
            dataType: 'text',
            data: data,
            success: function (data) {
                data = JSON.parse(data);
                $("#apartment-list").empty();
                for (let i = 0; i < data.length; i++) {
                    let newOption = new Option(data[i][1]);
                    apartmentElementList.append(newOption);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    });
</script>
{% endblock %}